{% assign startYear = 1908 %}
{% assign thisYear = 'now' | date: '%Y' %}
{% assign yearsOpen = thisYear | minus: startYear %}

<div
  style="
    color: white !important;
    background: #3a3a3a;
    display: flex;
    justify-content: center;
    margin-top: 4em;
  "
>
  <div
    style="
      padding: 3em;
      display: flex;
      flex-direction: column;
      justify-content: center;
    "
  >

    <h2 id="trigger" style="text-align: center; color: white">{{ 'general.custom_code.about_us_counter' | t }}</h2>
    <div class="counter-container" style="display: grid">
      <div style="text-align: center">
        <p class="count" style="font-size: 300%" data-stop="311"><b>0</b></p>
        <p>{{ 'general.custom_code.about_us_1' | t }}</p>
      </div>
      <div style="text-align: center">
        <p class="count" style="font-size: 300%" data-stop="95"><b>0</b></p>
        <p>{{ 'general.custom_code.about_us_2' | t }}</p>
      </div>
      <div style="text-align: center">
        <p class="count" style="font-size: 300%" data-stop="{{ pages['about-us'].metafields.my_fields.employees }}"><b>0</b></p>
        <p>{{ 'general.custom_code.about_us_3' | t }}</p>
      </div>
      <div style="text-align: center">
        <p class="count" style="font-size: 300%" data-stop="{{ yearsOpen }}"><b>0</b></p>
        <p>{{ 'general.custom_code.about_us_4' | t }}</p>
      </div>
    </div>
  </div>
</div>
<script>
  var triggered = false;
  window.addEventListener("scroll", function() {
    var trigger = document.getElementById("trigger");
    var counts = document.querySelectorAll(".count");
    var hT = trigger.offsetTop,
        hH = trigger.offsetHeight,
        wH = window.innerHeight,
        wS = window.pageYOffset;
    if (wS > hT + hH - wH) {
      if (!triggered) {
        counts.forEach(function(count) {
          triggered = true;
          var stopCount = count.getAttribute("data-stop");
          var Counter = 0;
          var animateCount = setInterval(function() {
            Counter++;
            count.innerText = Math.ceil(Counter);
            if (Counter == stopCount) {
              clearInterval(animateCount);
            }
          }, 20);
        });
      }
    }
  });
</script>